html {
    font-size:22px;
}
body {
    background-color:darkred;
    color: whitesmoke;
}

a {
    color:darkgray
}

a:visited {
    color:gray;
}

a:hover, a:active {
    color: #eee;
}

table, tr, th, td, caption {
    border: 1px solid black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-collapse: collapse;
    padding: 0.5rem;
}